<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Ui\Model\Export\MetadataProvider">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="triadhq_product_grid" xsi:type="array">
                    <item name="order_date" xsi:type="string">order_date</item>
                    <item name="creditmemo_date" xsi:type="string">creditmemo_date</item>
                    <item name="payment_date" xsi:type="string">payment_date</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
