<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Venture7_SalesReport::products"
             title="Products(UTC Time Zone)"
             translate="title"
             module="Venture7_SalesReport"
             sortOrder="90"
             parent="Magento_Reports::report_salesroot"
             action="reports/report_sales/products"
             resource="Venture7_SalesReport::products"/>
    </menu>
</config>
