<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="venture7_coupon_grid_data_source" xsi:type="string">Venture7\CouponReport\Model\ResourceModel\Coupon\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Venture7\CouponReport\Model\ResourceModel\Coupon\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">salesrule</argument>
            <argument name="eventPrefix" xsi:type="string">venture7_coupon_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">venture7_coupon_collection</argument>
            <argument name="resourceModel" xsi:type="string">Magento\SalesRule\Model\ResourceModel\Rule</argument>
        </arguments>
    </virtualType>
</config>
